<% title "#{@listing.address} Edit" %>
<% description "#{@listing.address} cost #{@listing.price}" %>
<% keywords 'placeholder keywords' %>

<h1>Editing Listing</h1>

<%= render 'form', listing: @listing %>

<%= link_to 'Show', @listing %> |
<%= link_to 'Back', listings_path %>
